html {
  background-image: url(pic/boo.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.pagamo-des {
  line-height: 15px;
  text-align: right;
  color: wheat;
  /* margin-bottom: 120%; */
}
.pagameo-right{
  text-align: left;
}

.pagamo-des ul{
  font-size: 7px;
  color: rgb(170, 224, 228);
  /* outline: 1px solid #fcc; */
  margin: 0;
}